<div class="full-page-module">
    <div class="countryContainer">

        <div class="header">
            <span>Les commandes</span>
            
        </div>
        <hr>

        <div class="row">
            <div class="col-12">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Rechercher un produit ici</mat-label>
                    <input name="search" [(ngModel)]="searchText" matInput>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="ordersDatas">

            <div class="row">
                <div class="col-md-3" *ngFor = "let a of moduleState.shops | filter:searchText">
                    <div class="productItem" 
                    [style.background-image]="'url(assets/imgs/panier.jpg)'"

                    (click) = "selectOrder (a) ; total(a)"
                    >
                        
    
                        <div class="productBackOverlay">
                            
                            <div class="productTitle">
                                {{a.date | date}}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="orderDetails">
            <p class="note">Les détails de la commande s'afficheront ici</p>

            <table class="table" style="width: 100%;" *ngIf = "isSelected">
                <thead >
                    <th>Commandé par</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Adresse</th>
                </thead>

                <tbody>
                    <tr>
                        <td>{{orderSelected.lasname}} {{orderSelected.firstname}}</td>
                        <td>{{orderSelected.phone}}</td>
                        <td>{{orderSelected.email}}</td>
                        <td>{{orderSelected.address}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table" style="width: 100%;" *ngIf = "isSelected">
                <thead >
                    <th style="width: 50%;">Produit</th>
                    <th>coût</th>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <p>{{orderSelected.item}}</p>
                            
                        </td>
                        <td>{{orderSelected.amount}}</td>
                    </tr>

                </tbody>
            </table>

        </div>

        
    </div>
</div>